*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #070B0E;
    /* color: whitesmoke; */
    background-color: #E1DCD9;
    /* background-image: url(images/background-image.png); */
    /* background: no-repeat center center fixed; */
    /* background-position: center;
    background-size: cover; */
    margin: 0;
    padding: 0;
    user-select: text;
    text-shadow: 0px 0px 20px whitesmoke;
}

/* Typography and icons */

h1.logo {
    font-size: 1.5rem;
    cursor: pointer;
}

p.answer {
    margin-top: 0;
}

i {
    cursor: pointer;
}

header,
footer {
    text-shadow: 0px 0px 20px #242424;
}

.bold {
    font-weight: 600;
}

/* Layout */

main {
    padding: 2.5rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

section {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    text-align: center;
    /* background-color: #070B0E; */
    background-color: #111827;
    background-image: url(images/header-background-image.png);
    background-position: center;
    background-size: cover;
    padding: 2.5rem;
    width: 100%;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 2rem;
    cursor: pointer;
}

nav li:hover {
    text-decoration: underline;
}

.mobile-menu-container {
    display: none; /* flex when displayed */
    flex-direction: column;
    background-color: #090909;
    position: absolute;
    top: 2.5rem;
    right: 0;
    padding: 1.5rem;
    border-radius: 8px;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu-container li {
    margin-top: 0.5rem;
}

.about-you-item {
    color: whitesmoke;
    font-weight: bold;
}

.about-you-menu {
    display: none; /* flex when displayed */
    flex-direction: column;
    background-color: #090909;
    position: absolute;
    top: 8rem;
    padding: 1.5rem;
    border-radius: 8px;
}

.about-you-menu li {
   display: block;
   margin: 0 1rem;
}

.about-you-menu li:last-of-type {
    margin-top: 1rem;
}

section.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2.5rem 3.5rem 2.5rem;
    /* border-bottom: 1px solid darkgray; */
}

div.top-image-container,
div.about-image-container,
div.map-image-container {
    width: 100%;
}

section.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #DBCBB4;
    padding: 2.5rem;
    /* border-bottom: 1px solid darkgray; */
}

div.services-feed {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    margin: 2rem 0;
}

div.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.service-card p {
    height: 100%;
    width: 100%;
}

section.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 3.5rem 2.5rem 4.5rem 2.5rem;
    border-bottom: 1px solid darkgray;
}

section.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    /* border-bottom: 1px solid darkgray; */
}

div.feedback-feed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    margin: 2rem auto 0 auto;
}

div.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.review p {
    margin-top: 0;
}

section.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBCBB4;
    padding: 2.5rem;
    /* border-bottom: 1px solid darkgray; */
}

/* .questions h2 {
    align-self: flex-start;
} */

div.questions-feed {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

div.question-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 2rem 0;
    border-bottom: 1px solid whitesmoke;
}

div.question-container:nth-of-type(1) {
    border-top: 1px solid whitesmoke;
}

div.question-container:last-of-type {
    border-bottom: none;
}

section.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 3.5rem 2.5rem 2.5rem 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

input {
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 2px #8C7D74;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    text-align: center;
    /* background-color: #070B0E; */
    background-color: #111827;
    width: 100%;
    padding: 3.5rem 2.5rem 2.5rem;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.feedback-container {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #F9FAFB;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 2px 12px #28A9F1;
}

.feedback-img {
    width: 50%;
    margin: auto;
}

/* Buttons */

button {
    font-family: inherit;
    color: #070B0E;
    background-color: whitesmoke;
    font-weight: 700;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 0px 0px 20px whitesmoke;
}

.call-button {
    box-shadow: 0 0 4px #8C7D74;
}

.top .call-button,
.about-us .call-button,
.contact .call-button {
    margin-top: 1em;
}

.call-button:hover {
    background-color: #B0B8BF;
}

.submit-button {
    color: whitesmoke;
    background-color: #67595E;
    margin-top: 1rem;
    padding: 1em;
    text-shadow: 0px 0px 20px #242424;
    box-shadow: 0 2px 2px #8C7D74;
}

.submit-button:hover {
    background-color: #D9AA71;
}

/* Images */

img {
    box-shadow: 0 0 4px #8C7D74;
}

.top-image,
.about-image,
.map-image {
    /* height: 150px;
    width: 300px; */
    width: 100%;
    border-radius: 8px;
}

.service-image {
    width: 100%;
    /* align-self: flex-start; */
    border-radius: 8px;
}

.review-image {
    border-radius: 50%;
    width: 70%;
}

/* Links */

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

/* Media queries */

/* @media (width <= 599px) */
@media (max-width: 599px) {
    .desktop-nav {
        display: none;
    }

    .desktop-nav-footer {
        display: none;
    }

    section.top,
    section.about-us,
    section.contact {
        flex-direction: column;
    }

    .top-image,
    .about-image {
        margin-top: 2rem;
    }

}

/* @media (width >= 600px) */
@media (min-width: 600px) {
    /* Typography */

    h1.logo {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p,
    button,
    input {
        font-size: 1.125rem;
    }

    .desktop-nav,
    .about-you-menu,
    .desktop-nav-footer {
        font-size: 1.2rem;
    }

    /* Layout */

    header {
        height: 200px;
    }
    
    .mobile-nav {
        display: none;
    }

    section {
        width: 80%;
    }

    section.top,
    section.about-us {
        gap: 2rem;
    }

    section.top,
    section.about-us,
    section.services,
    section.questions {
        margin-top: 2.5rem;
    }

    section.services,
    section.questions {
        border-radius: 20px;
        box-shadow: 0 0 2px #8C7D74;
    }

    section.contact-ru {
        justify-content: space-between;
        gap: 2.5rem;
    }

    .contact-text-ru {
        width: 50%;
    }

    div.service-card {
        width: 40%;
    }

    div.top-text-container-ru {
        width: 55%;
        margin-right: 1rem;
    }

    div.top-image-container {
        width: 55%;
    }

    div.about-image-container {
        width: 50%;
    }

    div.about-us-text {
            width: 45%;
    } 

    div.map-image-container {
        width: 40%;
    }

    div.review {
        width: 30%;
    }

    form {
        margin-top: 2.5rem;
    }

    footer {
        height: 300px;
    }

    .desktop-nav-footer {
        margin-bottom: 0;
    }

    p.copy-info {
        margin-top: 0;
    }

    .feedback-container {
        bottom: 30px;
        right: 40px;
    }

    /* Images */

    .service-image {
        align-self: flex-start;
    }

    .map-image {
        aspect-ratio: 4/4;
    }

}
