*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Typography and icons */

h1.logo {
    font-size: 1rem;
}

p.answer {
    margin-top: 0;
}

/* .services h2,
.feedback h2,
.questions h2 {
    margin-left: 12rem;
} */

/* Layout */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

section {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    text-align: center;
    background-color: #333;
    padding: 2.5rem;
    width: 100%;
}

main {
    padding: 2.5rem 0;
}

section.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    border-bottom: 1px solid darkgray;
}

section.services {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-bottom: 1px solid darkgray;
}

div.services-feed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 0;
}

section.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2.5rem;
    border-bottom: 1px solid darkgray;
}

section.feedback {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-bottom: 1px solid darkgray;
}

div.feedback-feed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 0;
}

div.review {
    display: flex;
    flex-direction: column;
    width: 25%;
}

section.questions {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-bottom: 1px solid darkgray;
}

div.questions-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.question-container {
    display: flex;
    flex-direction: column;
}

section.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
}

nav ul {
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1.25rem;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    text-align: center;
    background-color: #333;
    width: 100%;
    padding: 2.5rem;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

/* Buttons */

button {
    border-radius: 8px;
    cursor: pointer;
}

/* Images */

.top-image,
.about-image,
.map-image {
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid darkblue;
}

.service-image {
    height: 75px;
    width: 75px;
    border-radius: 8px;
    border: 1px solid darkblue;
}

.review-image {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid darkblue;
}

/* Links */

/* Media queries */

/* @media (width <= 599px) */
@media (max-width: 599px) {
    
}

/* @media (width >= 600px) */
@media (min-width: 600px) {
    section {
        width: 80%;
    }
}
